# Do not commit practice questions gathered from several resources
Security+/

# Do not commit AWS Certs Prep Notes
AWS_Certs_Prep/

# DevSecOps
DevSecOps/

# System_Design
System_Design/

# ignore useless stuff
.idea/*